<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<meta charset="utf-8" />
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
<header th:replace="fragments/header :: header"></header>
<div th:replace="fragments/user-aside :: top"></div>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Оопс
      </h1>
    </section>

    <!-- Main content -->
    <section class="content" th:if="${code}==1">
      <div class="error-page">
        <div class="error-content">
          <h3><i class="fa fa-warning text-yellow"></i> Опитай пак след малко</h3>

          <p>
          	 За да предадете ново решение трябва да минат поне 60 секунди от последното предадено решение  
          </p>

        </div>
        <!-- /.error-content -->
      </div>
      <!-- /.error-page -->
    </section>
    <!-- /.content -->

    <!-- Main content -->
    <section class="content" th:if="${code}==2">
      <div class="error-page">
        <div class="error-content">
          <h3><i class="fa fa-warning text-yellow"></i> Няма ме</h3>

          <p>
          	 Това което търсите не съществува  
          </p>

        </div>
        <!-- /.error-content -->
      </div>
      <!-- /.error-page -->
    </section>
    <!-- /.content -->

    <!-- Main content -->
    <section class="content" th:if="${code}==3">
      <div class="error-page">
        <div class="error-content">
          <h3><i class="fa fa-warning text-yellow"></i> Достигнат лимит на решения</h3>

          <p>
          	 Достигнали сте максималния лимит от допустими решения
          </p>

        </div>
        <!-- /.error-content -->
      </div>
      <!-- /.error-page -->
    </section>
    <!-- /.content -->

  </div>
  <!-- /.content-wrapper -->
  <footer th:replace="fragments/footer :: footer"></footer>


</div>
<!-- ./wrapper -->

<div th:replace="fragments/foot :: foot"></div>
</body>
</html>
