<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<meta charset="utf-8" />
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
<header th:replace="fragments/header :: header"></header>
<div th:replace="fragments/user-aside :: top"></div>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Задача <b th:text="${problem.get('name')}"></b>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content" th:if="${isStarted}">
    <div class="row">
    	<div class="col-md-6">
    		<div class="box">
	            <div class="box-header with-border">
	              <h3 class="box-title">Условие</h3>
	            </div>
	            <!-- /.box-header -->
	            <div class="box-body">
		            <a th:href="@{'/problems/'+${problemNumber}}"  target="_blank" class="btn btn-info">Отвори</a>
		     		<a th:href="@{'/problems/'+${problemNumber}}" target="_blank" class="btn btn-info">Изтегли</a>
	            </div>
	            <!-- /.box-body -->
	        </div>
	     	
	     	
	     	<div class="box">
	            <div class="box-header with-border">
	              <h3 class="box-title">Ограничения</h3>
	            </div>
	            <!-- /.box-header -->
	            <div class="box-body">
			     	<table class="table table-bordered">
		                <tbody>
		                <tr>
		                  <td>Време</td>
		                  <td th:text="@{${problemDetails.time}+' s'}"> </td>
		                </tr>
		                <tr>
		                  <td>Памет</td>
		                  <td th:text="@{${problemDetails.memory}+' MB'}"> </td>
		                </tr>
		              </tbody>
		            </table>          
	            </div>
	            <!-- /.box-body -->
	        </div>
		</div>
		
		<div class="col-md-6">
			<div class="box" th:if="${timeLeft} > 0">
	            <div class="box-header with-border">
	              <h3 class="box-title">Предай решение</h3>
	            </div>
	            <!-- /.box-header -->
	            <div class="box-body">
				    <form role="form" action="/user/submit-code" method="post" enctype="multipart/form-data">
		              <div class="box-body">
		              	
		                <input type="hidden" 
		                  	class="form-control" 
		                  	name="problemNumber" id="problemNumber" 
		                  	th:value="${problemNumber}" />
		                  	
		                <div class="form-group">
		                  <label for="file">Файл</label>
		                  <input type="file" name="file" id="file" accept=".cpp"/>
		                </div>
		              </div>
		              <!-- /.box-body -->
		
		              <div class="box-footer">
		                <button type="submit" class="btn btn-primary">Предай</button>
		              </div>
		            </form> 
	            </div>
	            <!-- /.box-body -->
	        </div>
	      </div>
      </div>
      <div class="row">  
	     <div class="col-md-12">
	     	<div th:if="${submissions.size() == 0}" class="box">
	            <div class="box-header with-border">
	              <h3 class="box-title">Няма предадени решения</h3>
	            </div>
	         </div>
	            
	        <div th:if="${submissions.size() > 0}" class="box">
	            <div class="box-header with-border">
	              <h3 class="box-title">Предадени решения</h3>
	            </div>
	            <!-- /.box-header -->
	            <div class="box-body">
			     	<table class="table table-bordered">
		                <thead>
			                <tr>
			                  <th style="width: 10px">#</th>
			                  <th>Детайли</th>
			                  <th>Точки</th>
			                </tr>
			            </thead>
		                <tbody>
			                <tr th:each="submission: ${submissions}">
			                  <td><a th:href="@{'/user/problem/'+problemNumber+'/submissions/'+${submission.get('number')}}" th:text="${submission.get('number')}"></a></td>
			                  <td th:text="${submission.get('verdict')}"></td>
			                  <td th:text="${submission.get('points')}"></td>
			                </tr>
		            	</tbody>
		            </table>          
	            </div>
	            <!-- /.box-body -->
	        </div>
			
		</div>
	</div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer th:replace="fragments/footer :: footer"></footer>

</div>
<!-- ./wrapper -->

<div th:replace="fragments/foot :: foot"></div>
</body>
</html>
