<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<meta charset="utf-8" />
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
<header th:replace="fragments/header :: header"></header>
<div th:replace="fragments/user-aside :: top"></div>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Задача <b th:text="${problem.get('name')}"></b>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content" th:if="${isStarted}">
    <div class="row">
    	<div class="col-md-6">
    		<div class="box">
	            <div class="box-header with-border">
	              <h3 class="box-title">Условие</h3>
	            </div>
	            <!-- /.box-header -->
	            <div class="box-body">
		            <a th:href="@{'/problems/'+${problemNumber}+'?download=false'}"  target="_blank" class="btn btn-info">Отвори</a>
		     		<a th:href="@{'/problems/'+${problemNumber}+'?download=true'}" target="_blank" class="btn btn-info">Изтегли</a>
	            </div>
	            <!-- /.box-body -->
	        </div>
	     	
	     	
	     	<div class="box">
	            <div class="box-header with-border">
	              <h3 class="box-title">Ограничения</h3>
	            </div>
	            <!-- /.box-header -->
	            <div class="box-body">
			     	<table class="table table-bordered">
		                <tbody>
		                <tr>
		                  <td>Време</td>
		                  <td th:text="@{${problemDetails.time}+' s'}"> </td>
		                </tr>
		                <tr>
		                  <td>Памет</td>
		                  <td th:text="@{${problemDetails.memory}+' MB'}"> </td>
		                </tr>
		              </tbody>
		            </table>          
	            </div>
	            <!-- /.box-body -->
	        </div>
		</div>
		
		<div class="col-md-6">
		
				
			<div th:if="${timeLeft} > 0" class="nav-tabs-custom" style="border-top: 3px solid #d2d6de; border-bottom: 1px solid #f4f4f4;">
            <!-- Tabs within a box -->
            <ul class="nav nav-tabs pull-right">
              <li class="active" style="margin-top:-3px"><a href="#file-upload" data-toggle="tab">Файл</a></li>
              <li style="margin-top:-3px"><a href="#source-upload" data-toggle="tab">Код</a></li>
              <li class="pull-left header" style="font-size: 18px;">Предай решение</li>
            </ul>
            <div class="tab-content no-padding">
              <div class="tab-pane active" id="file-upload" style="position: relative;">
			  
	            <!-- /.box-header -->
	            <div class="box-body">
				    <form role="form" action="http://practice.sofiacode.com/user/submit-file" method="post" enctype="multipart/form-data">
		              <div class="box-body">
		              	
		               	<input type="hidden" class="form-control" name="problemNumber" id="problemNumber" th:value="${problemNumber}" />
		                  	
		                <div class="form-group">
		                  <label for="file">Файл</label>
		                  <input type="file" name="file" id="file" accept=".cpp" />
		                </div>
		              </div>
		              <!-- /.box-body -->
		
		              <div class="box-footer">
		                <button type="submit" id="submitcodebutton2" class="btn btn-primary">Предай</button>
		                <span id="timetosubmit2" style="margin-left:5px;"></span>
		              </div>
		            </form> 
	            </div>
	            <!-- /.box-body -->
	        
			
			  </div>
              <div class="tab-pane" id="source-upload" style="position: relative; height: auto;">
			  
			          <!-- /.box-header -->
	            <div class="box-body">
				    <form role="form" action="http://practice.sofiacode.com/user/submit-code" method="post" >
		              <div class="box-body">
		              	
		                <input type="hidden" class="form-control" name="problemNumber" id="problemNumber" th:value="${problemNumber}" />
		                  	
		                <div class="form-group">
		                  <textarea name="code" placeholder="Поставете вашият код" maxlength="65536"
                            style="width: 100%; height: 80px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>

		                </div>
		              </div>
		              <!-- /.box-body -->
		
		              <div class="box-footer">
		                <button type="submit" id="submitcodebutton3" class="btn btn-primary">Предай</button>
		                <span id="timetosubmit3" style="margin-left:5px;"></span>
		              </div>
		            </form> 
	            </div>
	            <!-- /.box-body -->
	    
			  
			</div>
            </div>
          </div>
          <!-- /.nav-tabs-custom -->
    <script th:src="@{/dist/js/timer2.js}"></script>
		
		
		  </div>
      </div>
      <div class="row">  
	     <div class="col-md-12">
	     	<div th:if="${submissions.size() == 0}" class="box">
	            <div class="box-header with-border">
	              <h3 class="box-title">Няма предадени решения</h3>
	            </div>
	         </div>
	            
	        <div th:if="${submissions.size() > 0}" class="box">
	            <div class="box-header with-border">
	              <h3 class="box-title">Предадени решения</h3>
	            </div>
	            <!-- /.box-header -->
	            <div class="box-body">
			     	<table class="table table-bordered">
		                <thead>
			                <tr>
			                  <th style="width: 10px">#</th>
							  <th>Час</th>
			                  <th>Детайли</th>
			                  <th>Точки</th>
			                </tr>
			            </thead>
		                <tbody>
			                <tr th:each="submission: ${submissions}">
			                  <td><a th:href="@{'/user/problem/'+${problemNumber}+'/submissions/'+${submission.get('number')}}" th:text="${submission.get('number')}"></a></td>
			                  <td th:text="${#dates.format(submission.get('upload_time'), 'dd.MM.yy HH:mm:ss')}"></td>
			                  <td th:text="${submission.get('verdict')}"></td>
			                  <td th:text="${submission.get('points')}"></td>
			                </tr>
		            	</tbody>
		            </table>          
	            </div>
	            <!-- /.box-body -->
	        </div>
			
		</div>
	</div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer th:replace="fragments/footer :: footer"></footer>

</div>
<!-- ./wrapper -->

<div th:replace="fragments/foot :: foot"></div>
</body>
</html>
