<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<meta th:if="${score == null}" http-equiv="refresh" content="2" />

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
<header th:replace="fragments/header :: header"></header>
<div th:replace="fragments/user-aside :: top"></div>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Решение
        <small>детайли</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-12 connectedSortable">
          <div class="box">
            <!-- /.box-header -->
            
            <div class="box-body">
             <table style="table-layout:fixed; word-wrap: break-word;"  class="table table-bordered">
                <tr>
                  <th>Id</th>
                  <th>Потребител</th>
                  <th>Град</th>
                  <th>Група</th>
                  <th>Задача</th>
                  <th>Точки</th>
                  <th style="width: 50%">Статус</th>
                </tr>
                <tr>
                  <td th:text="${submission.get('id')}"></td>
                  <td th:text="${submission.get('username')}"></td>
                  <td th:text="${submission.get('city')}"></td>
                  <td th:text="${submission.get('contest_name')}"></td>
                  <td th:text="${submission.get('problem_name')}"></td>
                  <td th:text="${score}"></td>
                  <td th:text="${submission.get('verdict')}"></td>
                </tr>
              </table>
            </div>
            <div th:if="${tests} != null" class="box-body">
              <table style="table-layout:fixed; word-wrap: break-word;" th:if="${!tests.isEmpty()}" class="table table-bordered table-striped">
                <tr>
                  <th>Стъпка</th>
                  <th>Резултат</th>
                  <th>Време</th>
                </tr>
                <tr th:each="test: ${tests}">
                  <td th:text="${test.key}"></td>
                  <td th:text="${test.value.getVerdict()}"></td>
                  <td th:text="${test.value.getTime()}"></td>
                </tr>
              </table>
              <table th:if="${tests.isEmpty()}" class="table table-bordered">
                <tr>
                  <th>Стъпка</th>
                  <th>Резултат</th>
                  <th>Причина</th>
                </tr>
                <tr>
                  <td>Compilation</td>
                  <td>CE</td>
                  <td th:text="${compile.getReason()}"></td>
                </tr>
              </table>
            </div>
          </div>
          <pre th:text="${source}"></pre>
          <!-- /.box -->
        
        </section>
        <!-- /.Left col -->
      </div>
      <!-- /.row (main row) -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer th:replace="fragments/footer :: footer"></footer>

  <div th:replace="fragments/aside :: bottom"></div>
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<div th:replace="fragments/foot :: foot"></div>
</body>
</html>
