  <!-- Left side column. contains the logo and sidebar -->
  <aside th:fragment="top" class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li>
          <a th:href="@{/admin}">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a th:href="@{/admin/contests}">
            <i class="fa fa-files-o"></i> <span>Contests</span>
          </a>
        </li>
        <li>
          <a th:href="@{/admin/submissions}">
            <i class="fa fa-files-o"></i> <span>Submissions</span>
          </a>
        </li>
        <li>
          <a th:href="@{/admin/workers}">
            <i class="fa fa-files-o"></i> <span>Workers</span>
          </a>
        </li>
        <!-- li class="treeview">
          <a href="#">
            <i class="fa fa-pie-chart"></i>
            <span>Contests</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li th:each="contest: ${contests}"><a th:href="@{'/admin/contests/'+${contest.get('id')}}"><i class="fa fa-circle-o"></i><span th:text="${contest.get('name')}">ChartJS</span></a></li>
          </ul>
        </li-->
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
