  <meta charset="UTF-8" />

  <!-- Left side column. contains the logo and sidebar -->
  <aside th:fragment="top" class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">ЗАДАЧИ</li>
        <li th:each="problem: ${contestProblems}">
          <a th:href="@{'/user/problem/' + ${problem.get('number')}}">
            <i class="fa fa-files-o"></i> <span th:text="${problem.get('name')}"> </span>
          </a>
        </li>
        
        <li class="header">МЕНЮ</li>
        <li>
          <a th:href="@{/user/communication}">
            <i class="fa fa-files-o"></i> <span>Комуникация</span>
          </a>
        <li>
	        <a target="_blank" th:href="@{/docs/en/index.html}"><i class="fa fa-book"></i> <span>Документация</span></a>
        </li>
        </li>
        
        <li> 
        	<h2 id="timer" style="color: #b8c7ce; text-align: center;"></h2> 
        </li>
        
      </ul>
    </section>
    <!-- /.sidebar -->
    
    <script th:inline="javascript">

      /*<![CDATA[*/
	    
         var msTillEnd = /*[[${timeLeft}]]*/;

       /*]]>*/
	</script> 
    
    <script> 
     var msTillEnd2 = 2*60*1000;
     var countDownDate = new Date().getTime() + msTillEnd; 
    </script>
    <script th:src="@{/dist/js/timer.js}"></script>
    	
  </aside>

  

