<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Pesho org</title>
	</head>
	<body>
		<form action="/admin/problem" method="post" enctype="multipart/form-data">
			<label>Name: </label>
			<input type="text" name="name" /><br />
	
			<label>Contest: </label>
			<input type="text" name="contest" list="groups" />
			<datalist id="groups">
				<option>A</option>
				<option>B</option>
				<option>C</option>
				<option>D</option>
				<option>E</option>
			</datalist>
			<br />
			
			<label>Number: </label>
			<select name="number">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
			</select><br />
			
			<input type="hidden" name="points" value="100" /><br />
	
			<label>Archive: </label>
			<input type="file" name="file" /><br />
			
			<input type="submit" value="submit" />
		</form>
	</body>
</html>
