<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
<header th:replace="fragments/header :: header"></header>
<div th:replace="fragments/aside :: top"></div>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        <span>Submissions</span>
      </h1>
      <ol class="breadcrumb">
        <li><a th:href="@{/admin}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Submissions</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-12 connectedSortable">
          <!-- Custom tabs (Charts with tabs)-->
<!-- submissions -->
          <div class="nav-tabs-custom">
            <!-- Tabs within a box -->
            <ul class="nav nav-tabs pull-right">
              <li class="active"><a href="#list_submissions" data-toggle="tab">List</a></li>
              <li><a href="#upload_submission" data-toggle="tab">Upload</a></li>
              <li><a href="#quick_upload_submission" data-toggle="tab">Quick Upload</a></li>
              <li class="pull-left header"><i class="fa fa-inbox"></i> Submissions</li>
            </ul>
            <div class="tab-content no-padding">
              <!-- Morris chart - Sales -->
              <div class="chart tab-pane active" id="list_submissions" style="position: relative;">
              <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Contest</th>
                  <th>Task</th>
                  <th>User</th>
                  <th>City</th>
                  <th>Points</th>
                  <th>Verdict</th>
                </tr>
                </thead>
                <tr th:each="submission: ${submissions}">
                  <td><a th:href="@{'/admin/submissions/'+${submission.get('id')}}" th:text="${submission.get('id')}"></a></td>
                  <td th:text="${submission.get('contest_name')}"></td>
                  <td th:text="${submission.get('problem_name')}"></td>
                  <td th:text="${submission.get('username')}"></td>
                  <td th:text="${submission.get('city')}"></td>
                  <td th:text="${submission.get('points')}"></td>
                  <td th:text="${submission.get('verdict')}"></td>
                </tr>
                </table>
                </div>

              </div>
              <div class="chart tab-pane" id="upload_submission" style="position: relative;">
              
            <form role="form" action="/admin/grade" method="post" enctype="multipart/form-data">
              <div class="box-body">
              	<div class="form-group">
                  <label for="city">City</label>
                  <input type="text" class="form-control" name="city" id="city" placeholder="City" />
                </div>
                <div class="form-group">
                  <label for="file">File input</label>
                  <input type="file" name="file" id="file" accept=".zip"  />
                </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Upload</button>
              </div>
            </form>         
              
              </div>

              <div class="chart tab-pane" id="quick_upload_submission" style="position: relative;">
              
            <form role="form" action="/admin/quick_grade" method="post" enctype="multipart/form-data">
              <div class="box-body">
              	<div class="form-group">
                  <label for="city">City</label>
                  <input type="text" class="form-control" name="city" id="city" value="admin" />
                </div>
              	<div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" name="name" id="name" value="admin" />
                </div>
              	<div class="form-group">
                  <label for="problem_id">Problem Id</label>
                  <select class="form-control" name="problem_id" id="problem_id">
                  	<option th:each="problem: ${problems}" th:value="${problem.get('id')}" th:text="${problem.get('contest_name')+ '/' + problem.get('problem_name')}" />
                  </select>
               </div>
                <div class="form-group">
                  <label for="file">File input</label>
                  <input type="file" name="file" id="file" accept=".cpp,.c" />
                </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Upload</button>
              </div>
            </form>         
              
              </div>


            </div>
          </div>

<!-- /submissions -->

        </section>
        <!-- /.Left col -->
      </div>
      <!-- /.row (main row) -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer th:replace="fragments/footer :: footer"></footer>

</div>
<!-- ./wrapper -->

<div th:replace="fragments/foot :: foot"></div>


<!-- DataTables -->
<script th:src="@{/bower_components/datatables.net/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
<!-- page script -->
<script>
  $(function () {
    $('#example1').DataTable()
  })
</script>
</body>
</html>
