<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
<head>
	<meta charset="utf-8" />
	<title>NOI Grader</title>
	
	<style>
		table, th, td {
		    border: 1px solid black;
		    border-collapse: collapse;
		    padding: 5px;
		}
	</style>
</head>
<body>
<div class="span12">
    <table dt:table="true">
        <thead>
            <tr>
                <th>id</th>
                <th>city</th>
                <th>contest</th>
                <th>username</th>
                <th>problem</th>
                <th>details</th>
                <th>points</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="submission : ${submissions}">
                <td th:text="${submission.get('id')}"></td>
                <td th:text="${submission.get('city')}"></td>
                <td th:text="${submission.get('contest')}"></td>
                <td th:text="${submission.get('username')}"></td>
                <td th:text="${submission.get('problem_id')}"></td>
                <td th:text="${submission.get('details')}"></td>
                <td th:text="${submission.get('points')}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>