<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>NOI Grader</title>
	</head>
	<body>
			Еднокатно качете един .zip файл със структура подобна на следната:<br />
			<pre>
A
    PPP
        train.cpp
    MBS
        train.cpp
        cla.cpp
        altgame.cpp
B
    BIM
        films.cpp
        points.cpp
    Deni
    	films.cpp	
        odd.cpp
C
  ..
D
  ..
E
  ..
*******************************************************************************
ВАЖНО: В zip-a поставете съседните папки A,B,C,D,E, а не родителската им папка!
*******************************************************************************</pre>
 
  
			<b>Имената на програмите да са според изискванията в задачите!</b><br />
			<b>Програмите се компилират с "g++ -O2 -std=c++11" под Ubuntu 16.04.3 LTS. Ако програвата даде CE (compilation error) може допълнително да видите проблема.</b><br />
			<b>Ако промените файла и искате да качите наново - използвайте друго име за град/училище</b><br />
			<br />
			<b>За всякакви въпроси пишете на pppepito86@gmail.com</b><br />
			
			<br />
		<form action="/grade" method="post" enctype="multipart/form-data">
			<label>Архив: </label><br />
			<input type="file" name="file" /><br /><br />
			
			<input type="submit" value="Качи" />
			<input type="hidden" name="city" th:value="${city}" /><br />
		</form>
	</body>
</html>
